@import './global.scss';

#board-container {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.card {
    width: 20rem;
    height: 40rem;
    margin: 0 .05em;
    border: 1px solid lighten($color: $nav-color, $amount: 10%);
    display: inline-block;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: .5em;
        background: rgb(224, 224, 224);
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        
    }

    .subheading {
        font-size: 90%;
        max-width: 90%;
        min-height: 4rem;
        margin: 2em auto;
        margin-bottom: 0em;
        margin-top: -.5em;
        font-weight: 400;
        color: rgb(36, 36, 36);
    }
}

.card-heading {
    text-align: center;
    h2 {
        font-family: 'Rubik';
        color: $main-color;
        font-weight: lighter;
        font-size: 120%;
    }
    p {
        margin-top: -1em;
        color: rgb(75, 75, 75);
        font-weight: 500;
    }
}

.add-job-icon {
    border: none;
    background: white;
    position: absolute;
    top: 20px;
    left: 87%;
    background-image: url('../assets/icons/add-file.png');
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.job-post {
    width: 90%;
    height: 5rem;
    margin: .2em auto;
    background: #3EB1F6;
    text-align: left;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    h3 {
        color:white;
        padding: .1em 1em;
        font-size: 100%;
        font-family: 'Roboto';
    }
    p {
        color: white;
        font-weight: bold;
        padding-left: 1em;
        font-family: 'Roboto';
        font-size: 90%;
        margin-top: -1em;
    }
    button {
        width: 1.2em;
        height: 1.2em;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 70%;
        left: 90%;
        &:hover {
            cursor: pointer;
            opacity: 0.9;;
        }
    }
    .trash-icon {
        background-image: url('../assets/icons/trash-can.png');
    }
    .edit-icon {
        background-image: url('../assets/icons/edit.png');
        left: 82%;
        top: 72%;
    }
}

.create-card {
    width: 90%;
    border: 1px solid rgb(95, 95, 95);
    height: 3rem;
    margin: 1em;
    margin-left: 2.5em;
    margin-bottom: -1em;
}