@import './global.scss';

#board-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
        height: .5em;
        background: rgb(224, 224, 224);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
        
    }
    &:focus {
        outline: none;
    }
}

.card {
    flex: 1;
    width: 17rem;
    height: 100%;
    min-width: 17rem;
    max-width: 17rem;
    margin: 0 .05em;
    border: 1px solid lighten($color: $nav-color, $amount: 10%);
    position: relative;
    overflow-y: auto;

    &:focus {
        outline: none;
    }
    
    &::-webkit-scrollbar {
        width: .5em;
        background: rgb(224, 224, 224);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
        
    }

    .subheading {
        font-size: 90%;
        max-width: 90%;
        min-height: 4rem;
        margin: 2em auto;
        margin-bottom: 0em;
        margin-top: -.5em;
        font-weight: 400;
        color: rgb(36, 36, 36);
    }

    .options {
        position: absolute;
        top: 4em;
        left: 4em;
        width: 10rem;
        border: 1px solid $main-color;
        border-radius: 5px;
        z-index: 2;
        button {
            background: $main-color;
            color: white;
            display: block;
            width: 100%;
            padding: .5em 0;
            border: none;
            box-sizing: border-box;
            text-align: left;
            text-indent: 1em;
            &:hover {
                background: darken($color: $main-color, $amount: 10%);
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.card-heading {
    text-align: center;
    h2 {
        font-family: 'Rubik';
        color: $main-color;
        font-weight: lighter;
        font-size: 120%;
    }
    p {
        margin-top: -1em;
        color: rgb(75, 75, 75);
        font-weight: 500;
    }
}


.more-icon {
    border: none;
    background: white;
    position: absolute;
    top: 25px;
    left: 85%;
    background-image: url('../assets/icons/more.png');
    background-repeat: no-repeat;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.add-job-icon {
    width: 16px;
    height: 16px;
    float: right;
    background-image: url('../assets/icons/add-job.png');
    margin-right: 1em;
}
.remove-card-icon {
    width: 16px;
    height: 16px;
    float: right;
    background-image: url('../assets/icons/trash-can.png');
    margin-right: 1em;
}

.job-post {
    min-width: 200px;
    width: 95%;
    height: 6rem;
    margin: .2em auto;
    background: #2ac4a2;
    text-align: left;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
        cursor: grab;
    }
    h3 {
        color:white;
        padding: .1em 1em;
        font-size: 100%;
        font-family: 'Roboto';
    }
    p {
        color: white;
        font-weight: bold;
        padding-left: 1em;
        font-family: 'Roboto';
        font-size: 90%;
        margin-top: -1em;
    }
    button {
        width: 1.2em;
        height: 1.2em;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 70%;
        left: 90%;
        &:hover {
            cursor: pointer;
            opacity: 0.9;;
        }
    }
    .trash-icon {
        background-image: url('../assets/icons/trash-can.png');
    }
    .edit-icon {
        background-image: url('../assets/icons/edit.png');
        left: 82%;
        top: 72%;
    }
}

.create-card {
    min-width: 8rem;
    margin-right: 0.5em;
    background: white;
    border: 1px solid $nav-color;
    .add-card-icon {
        width: 64px;
        height: 64px;
        border: none;
        background-color:  white;
        background-image: url('../assets/icons/add-card.png');
        margin: 0 auto;
        margin-top: 17em;
        margin-left: 3em;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}

.job-post-form {
    background: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    textarea {
        display: block;
        margin: 0 auto;
        margin-bottom: .5em;
        width: 25rem;
        height: 12rem;
        padding: 1em;
        resize: none;
        line-height: 1.5em;
        font-family: 'Helvetica';
        text-align: left;
        &:focus {
            outline: none;
        }
    }
    button {
        border: none;
        padding: .5em;
        width: 5rem;
        height: 2rem;
        background: $main-color;
        color: white;
        margin-top: 1em;
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 5px rgb(184, 184, 184);
        }
        &:focus {
            outline: none;
        }
    }
    .exit-button {
        background: black;
        margin-left: .1em;
    }
    form {
        border: 1px solid $nav-color;
        background: white;
        width: 30rem;
        height: 26rem;
        margin: 0 auto;
        margin-top: 10em;
        padding: 1em;
        text-align: center;
    }
    h2 {
        margin: .5em 0;
        color: $main-color;
        font-family: 'Roboto';
    }
    input {
        padding: .5em;
        display: block;
        margin: .2em auto;
    }

}

.hidden {
    display: none;
}