$nav-color: #a8a8a8;
$main-color: #BA3B46;
@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}