.daily-applications-container {
    width: 30em;
    margin: 2em auto;
    .header {
        padding: .4em 1em;
        border: 1px solid $nav-color;
        h2 {
            display: inline-block;
            font-family: 'Roboto';
            margin: 0;
            font-weight: lighter;
            font-size: 120%;
        }
        p {
            float: right;
            margin-top: 0em;
            font-weight: bold;
            font-size: 90%;
        }
    }
}
.grid {
    width: 100%;
    border: 1px solid $nav-color;
    height: 15rem;
    margin-top: .1em;
    display: flex;
    .grid-bar {
        width: 4rem;
        height: 1px;
        background: $main-color;
        margin: 0 .5em;
        margin-top: 5em;
    }
}