@import './styles/global.scss';
@import './styles/board.scss';
@import './styles/metrics.scss';
@import './styles/login.scss';

.App {
  overflow: hidden;
}
nav {
  height: 4rem;
  border-bottom: 1px solid $nav-color;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: $main-color;
  color: white;
  .logo {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
  }
  ul li {
    list-style-type: none;
    float: left;
    position: relative;
    margin: 0 1em;
    a {
      text-decoration: none;
      color: white;
      margin: 0 2em;
      padding: .5em;
      transition: all .2s;
      font-family: 'Rubik';
      &:hover {
        color: darken($color: $main-color, $amount: 20%);
      }
    }
  }
}

.active-link {
  color: darken($color: $main-color, $amount: 25%);
}