$nav-color: #a8a8a8;
$main-color: #BA3B46;
@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

nav {
  height: 4rem;
  border-bottom: 1px solid $nav-color;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  ul li {
    list-style-type: none;
    float: left;
    position: relative;
    margin: 0 1em;
    a {
      text-decoration: none;
      color: black;
      margin: 0 2em;
      padding: .5em;
      transition: all .2s;
      &:hover {
        color: white;
        background-color: $main-color;
      }
    }
  }
}

.active-link {
  background: $main-color;
  color: white;
}

.icon {
  position: absolute;
  left: -.4em;
  top: -.3em;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.board-icon {
  background-image: url('./assets/icons/presentation.png');
}
.bell-icon {
  background-image: url('./assets/icons/bell.png');
}
.contact-icon {
  background-image: url('./assets/icons/phone-book.png');
}
.metrics-icon {
  background-image: url('./assets/icons/metrics.png');
}

#board-container {
  height: 50rem;
  width: 100%;
  padding: 1em;
  margin: 1em auto;
  white-space: nowrap;
}

#job-card {
  margin: 0 .2em;
  border: 1px solid $nav-color;
  text-align: center;
  width: 20rem;
  height: 50rem;
  position: relative;
  display: inline-block;
  h2 {
    font-weight: 500;
    font-family: 'Rubik';
    color: $main-color;
    margin-bottom: .2em;
  }
  span {
    color: rgb(65, 65, 65);
  }
  .add-job-btn {
    width: 2rem;
    height: 2rem;
    left: 88%;
    top: 1%;
    position: absolute;
    background-image: url('./assets/icons/add.png');
    background-position: center;
    background-size: contain;
    border: none;
    background-color: white;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}